.git
.gitignore
.dockerignore
.idea
.cursor
.gigaide
.ruff_cache
.vscode
.pre-commit-config.yaml
.python-version
readme_img
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
include/
lib/
bin/
pip-selfcheck.json
db.sqlite3
tmp/
*.state
*.state-shm
*.state-wal
celerybeat-schedule*
node_modules/
Dockerfile*
docker-compose*.yml
readme.md