SECRET_KEY=super_secret_key_and_very_strong
DEBUG=True
ALLOWED_HOSTS='*'

MYSQL_DATABASE=vanger
MYSQL_USER=mysql
MYSQL_PASSWORD=super_pupper_password!root!!!
MYSQL_ROOT_PASSWORD=super_pupper_password!!!
MYSQL_HOST=db
MYSQL_PORT=3306

APP_PORT=8000

ADMIN_LOGIN=admin
ADMIN_EMAIL=admin@admin.com
ADMIN_PASS=admin